ul {
  padding: 0;
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 642px) {
    flex-direction: row;
  }

  &__items {
    padding: 0;
  }

  &__item {
    display: inline-block;
    list-style: none;
  }

  &__link {
    display: block;
    padding: 5px 10px;
    text-decoration: none;

    &:hover,
    &:focus {
      background: #F8F8F8;
      outline: 3px solid #FFBF47;
    }

    &.current {
      border: none;
      color: #0B0C0C;
      cursor: default;
      font-weight: 700;
      pointer-events: none;

      &:hover,
      &:focus {
        background: none;
        color: #0B0C0C;
      }
    }
  }
  
  &__summary {
    @include govuk-visually-hidden;
  }
}