@page "/"

<div class="govuk-main-wrapper defra-main-wrapper">
    <section>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full"></div>
            <h1 class="govuk-heading-xl">Placeholder Page</h1>
            <a class="govuk-footer__link" href="/sciencesearchmock">
                Example App - Science Search
            </a>
        </div>
    </section>
</div>